@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@import url("https://db.onlinewebfonts.com/c/16697a764b01cdcc691b05f001046bc3?family=MuseoSans-500");
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  background: #EEEEEE;
  min-height: 100vh;
  align-content: start;
  font-family: Quicksand;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 24;
}

select {
  font: 16px/20px;
  font-family: Quicksand;
  font-weight: 500;
  color: #222222;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-image: url(/day4-task/home-page/icons/icons/arrow-down.svg);
  background-repeat: no-repeat;
  background-position: 100%;
}

/* footer */
footer {
  /* position: absolute; */
  display: grid;
  bottom: 0px;
  margin-top: auto;
  width: 100%;
  text-align: center;
}
footer .logo {
  background: #E0E1E1;
  padding: 10px;
}
footer img {
  height: 40px;
}
footer span {
  position: relative;
  bottom: 12px;
}
footer .about {
  position: relative;
  bottom: 10px;
  color: #1F7A54;
}

.announce img {
  margin-top: 8px;
}

.anouncement {
  opacity: 0;
  transition: 0.5s ease-in-out;
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: 0px;
  width: 0px;
  position: absolute;
  top: 80px;
  right: 10%;
  max-height: 534px;
  overflow-y: scroll;
}
.anouncement::-webkit-scrollbar {
  width: 4px;
}
.anouncement::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.38);
  border-radius: 2px;
  width: 4px;
}
.anouncement::-webkit-scrollbar-track {
  background: white;
}
.anouncement[data-state=open], .anouncement[data-state=clicked], .anouncement:hover {
  opacity: 1;
  max-height: 534px;
  width: 315px;
  transition: all 0.5s ease-out;
}
.anouncement[data-state=open] button, .anouncement[data-state=clicked] button, .anouncement:hover button {
  width: 155px;
  display: block;
}
.anouncement .noti-btn {
  display: flex;
  position: fixed;
  top: 610px;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.2392156863);
}
.anouncement .noti-btn span {
  font-size: 30px;
  background: #FFFFEE;
  color: gray;
}
.anouncement button {
  display: none;
  height: 48px;
  width: 0px;
  border: none;
  font-size: 14px;
  font-family: Quicksand;
  text-transform: uppercase;
  background: #FFFFFF;
  color: #1F7A54;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.2392156863);
}
.anouncement .content {
  margin: 3px;
  background: #FFFFEE 0% 0% no-repeat padding-box;
  border-bottom: 1px solid #222222;
  padding-inline: 10px;
}
.anouncement .content div {
  display: flex;
}
.anouncement .content .timestamp {
  margin-left: auto;
  font-size: 12px;
  font-family: Quicksand;
}
.anouncement .content p {
  font: 14px/18px;
  font-family: Quicksand;
  font-weight: 500;
  margin: 2px 0px 2px 0px;
}
.anouncement .content div:nth-child(1) {
  font: 12px/18px;
  font-family: Quicksand;
  color: #222222;
  display: flex;
  justify-content: space-between;
}
.anouncement .content div:nth-child(1) span:nth-child(1)::before {
  content: "PA:";
}
.anouncement .content div:nth-child(1) span:nth-child(2) {
  background-image: url(../do_not_disturb_on.svg);
  width: 20px;
  height: 20px;
  background-size: 100% 100%;
}
.anouncement .content div:nth-child(3) {
  display: flex;
}
.anouncement .content div:nth-child(3) span {
  font-size: 12px;
  font-family: Quicksand;
}
.anouncement .content div:nth-child(3) span.attachmentlogo {
  background-image: url(../file.svg);
  width: 20px;
  height: 20px;
  background-size: 100% 100%;
}
.anouncement .content div:nth-child(3) span.timestamp {
  margin-left: auto;
}
.anouncement .content[data-state=true] {
  background: #FFFFFF;
}
.anouncement .content[data-state=true] div:nth-child(1) span:nth-child(2) {
  background: url(../check_circle_.svg);
}

.notify {
  opacity: 0;
  transition: 0.5s ease-in-out;
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: 0px;
  width: 0px;
  position: absolute;
  top: 80px;
  right: 20%;
  max-height: 534px;
  overflow-y: scroll;
}
@media (width < 400px) {
  .notify {
    right: 10%;
  }
}
.notify::-webkit-scrollbar {
  width: 4px;
}
.notify::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.38);
  border-radius: 2px;
  width: 4px;
}
.notify::-webkit-scrollbar-track {
  background: white;
}
.notify[data-state=open], .notify[data-state=clicked], .notify:hover {
  opacity: 1;
  width: 315px;
  max-height: 534px;
  transition: all 0.5s ease-in;
}
.notify[data-state=open] button, .notify[data-state=clicked] button, .notify:hover button {
  width: 310px;
  display: block;
}
.notify .noti-btn {
  display: flex;
  position: fixed;
  top: 610px;
}
.notify .noti-btn span {
  font-size: 30px;
  background: #FFFFEE;
  color: gray;
}
.notify button {
  height: 48px;
  width: 0px;
  display: none;
  border: none;
  font-size: 14px;
  font-family: Quicksand;
  text-transform: uppercase;
  background: #FFFFFF;
  color: #1F7A54;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.2392156863);
}
.notify .content {
  margin: 3px;
  background: #FFFFEE 0% 0% no-repeat padding-box;
  border-bottom: 1px solid #222222;
  padding-inline: 10px;
}
.notify .content div {
  display: flex;
}
.notify .content .timestamp {
  margin-left: auto;
  font-size: 12px;
  font-family: Quicksand;
}
.notify .content p {
  font: 14px/18px;
  font-family: Quicksand;
  font-weight: 500;
  margin: 2px 0px 2px 0px;
}
.notify .content div:nth-child(1) {
  font: 12px/18px;
  font-family: Quicksand;
  color: #222222;
  display: flex;
  justify-content: space-between;
}
.notify .content div:nth-child(1) span:nth-child(1)::before {
  content: "PA:";
}
.notify .content div:nth-child(1) span:nth-child(2) {
  background-image: url(../do_not_disturb_on.svg);
  width: 20px;
  height: 20px;
  background-size: 100% 100%;
}
.notify .content div:nth-child(3) {
  display: flex;
}
.notify .content div:nth-child(3) span {
  font-size: 12px;
  font-family: Quicksand;
}
.notify .content div:nth-child(3) span:nth-child(3) {
  margin-left: auto;
}
.notify .content[data-state=true] {
  background: #FFFFFF;
}
.notify .content[data-state=true] div:nth-child(1) span:nth-child(2) {
  background: url(../check_circle_.svg);
}

/* header */
header {
  position: sticky;
  top: 0px;
  padding-inline: 28px;
  z-index: 1;
  display: flex;
  background: #25313F url("/day4-task/home-page/header pattern image.png") 0% 0% no-repeat padding-box;
  background-blend-mode: overlay;
  background-size: 100% 100%;
  height: 80px;
  border-top: none;
  border-left: none;
  border-right: none;
  width: auto;
}
header .company {
  margin-right: auto;
}
header .company img {
  height: 40px;
  margin-top: 20px;
}
header .menu {
  display: flex;
  padding: 0px;
  gap: 15px;
}
header .menu li {
  margin: 16px;
  height: 18px;
  position: relative;
  justify-content: space-between;
  color: #3FD28B;
  list-style-type: none;
  font-family: Quicksand;
}
header .menu li[data-current] {
  color: #FFFFFF;
}
header .menu li[data-current]::before {
  background-color: #FFFFFF;
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  content: "";
  bottom: calc(0px - 1.9em);
}
header .icons {
  display: flex;
  justify-self: flex-end;
  align-items: end;
  gap: 15px;
  justify-content: end;
}
header .icons > span {
  position: relative;
  width: 50px;
  height: 60px;
  margin-top: 10px;
  color: #3FD28B;
}
header .icons > span:nth-child(1) {
  width: 30px;
  height: 50px;
  background-repeat: no-repeat;
  background-position: center center;
  margin-top: 10px;
}
header .icons > span:nth-child(2) {
  width: 30px;
  height: 50px;
  background-repeat: no-repeat;
  background-position: center center;
  margin-top: 10px;
}
header .icons > span::before {
  position: absolute;
  height: 10px;
  width: 10px;
  inline-size: block;
  content: "2";
  padding: 5px;
  font-size: small;
  background: #2A7FF3;
  border-radius: 50%;
  bottom: 35px;
  left: 15px;
  text-align: center;
  font-family: Quicksand;
}
header .icons img {
  width: 30px;
  height: 30px;
  margin-bottom: 25px;
  margin-right: 10px;
}
header #m-icon {
  margin-top: 30px;
  color: #3FD28B;
}
header .drop-down {
  position: fixed;
  z-index: 1;
  top: 80px;
  right: 0px;
  text-align: start;
  width: 0px;
  height: -moz-max-content;
  height: max-content;
  color: #1F7A54;
  background: #FFFFFF;
  box-shadow: 0px 13px 20px rgba(0, 0, 0, 0.2392156863);
}
header .drop-down[data-state=closed] {
  opacity: 0;
  width: 0px;
  transition: 0.5s ease-out;
}
header .drop-down[data-state=open], header .drop-down[data-state=clicked], header .drop-down:hover {
  display: block;
  opacity: 1;
  width: 280px;
  margin-right: 20px;
  transition: all 0.8s ease-in-out;
}
header .drop-down ul {
  padding-inline-start: 0px;
  display: flex;
  flex-direction: column;
}
header .menu-list li {
  font-family: Quicksand;
  font-weight: 600;
  list-style-type: none;
  color: #1F7A54;
  padding: 0.5em;
  text-transform: uppercase;
  position: relative;
}
header .menu-list li[data-current] {
  background: #F3F3F3;
}
header .menu-list li[data-current] ul {
  transition: height 0.5s ease-in;
  margin: 5px 0px 5px 0px;
  margin-left: 15px;
}
header .menu-list li[data-current] ul::after {
  rotate: 135deg;
  transition: transform 0.2s ease;
}
header .menu-list li ul {
  display: flex;
  justify-content: center;
  overflow: hidden;
  transition: height 0.2s ease-in;
  background: #F3F3F3;
  height: 0px;
}
header .menu-list li ul::after {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  border: 2px solid #1F7A54;
  border-top: none;
  border-right: none;
  position: absolute;
  left: 90%;
  rotate: -45deg;
  top: 13px;
}
header .menu-list li[data-state]::after {
  rotate: 135deg;
}

.course-classes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
  background: #8DDC97;
  margin: 20px;
  height: 64px;
  text-align: center;
  place-content: center;
}
.course-classes .course {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.course-classes .course[data-current]::before {
  background: #222222;
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  content: "";
  bottom: -18px;
}
.course-classes .text {
  font-weight: bold;
  font-size: 20px;
  padding-inline: 10px;
}
.course-classes #text {
  font-size: 20px;
}

.show {
  display: grid;
  margin: 20px;
  height: 40px;
  grid-template-columns: 1fr 1fr;
  border-bottom: 2px solid rgba(0, 0, 0, 0.12);
}
.show span {
  color: #686868;
  margin-top: 5px;
  font: 12px/14px;
  font-family: Quicksand;
  font-weight: 500;
}
.show .select-sort {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: -30px;
}
.show .select-sort label {
  font: 12px/20px;
  font-family: Quicksand;
}
.show .select-sort select {
  border-top: none;
  border-left: none;
  border-right: none;
  width: 180px;
  background-color: #EEEEEE;
}
.show .select-sort .material-symbols-outlined {
  background-image: url("/day4-task/home-page/icons/icons/sort.svg");
  display: grid;
  color: green;
  width: 30px;
  height: 50px;
  background-repeat: no-repeat;
  background-position: center center;
  margin-bottom: 5px;
}

main {
  display: grid;
  margin-left: 10px;
  margin-right: 10px;
  grid-template-columns: repeat(auto-fill, minmax(496px, 1fr));
}
main h3 {
  margin-bottom: -5px;
  margin-top: 10px;
  font: 16px/20px;
  font-family: Quicksand;
  font-weight: 500;
  display: flex;
  justify-content: flex-end;
  width: -moz-fit-content;
  width: fit-content;
  left: 50px;
  margin-bottom: -2px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
main .content-card {
  margin: auto;
  background: #FFFFFF;
  display: grid;
  justify-content: center;
  place-items: center;
  position: relative;
  margin-bottom: 30px;
}
main .content-card[data-expired]::before {
  content: "EXPIRED";
  color: #D80000;
  background-color: #FFE4E6;
  position: absolute;
  top: 0px;
  left: 0px;
  font-size: 10px;
  font-family: "MuseoSans-500";
  font-weight: 500;
  padding: 4px;
  border-radius: 2px;
}
main .content-card .card {
  background: #FFFFFF;
  display: grid;
  grid-template-columns: 1fr 4fr;
  margin: 5px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.12);
}
main .content-card .card img {
  margin: 10px;
  display: grid;
  width: 132px;
  height: 157px;
}
main .content-card .card .content {
  margin-right: 20px;
  /* height: 200px; */
}
main .content-card .card .content .card-content-head {
  display: grid;
  margin-bottom: 5px;
  grid-template-columns: 9fr 1fr;
}
main .content-card .card .content .card-content-head[data-starred] .material-symbols-outlined {
  color: #EDC900;
  margin-top: 10px;
}
main .content-card .card .content .card-content-head .material-symbols-outlined {
  color: #EEEEEE;
  margin-top: 10px;
}
main .content-card .card .content .info {
  margin-bottom: 5px;
  font-family: Quicksand;
}
main .content-card .card .content .infospan {
  font: 12px/16px;
  font-weight: 500;
}
main .content-card .card .content .info .no {
  color: #222222;
  font-weight: bold;
  font-weight: bold;
}
main .content-card .card .content select {
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.12);
  width: 100%;
}
main .content-card .content-icons {
  display: flex;
  justify-content: space-around;
  margin: 10px 20px 10px 20px;
  width: 100%;
}
main .content-card .content-icons .material-symbols-outlined {
  display: flex;
  color: #1F7A54;
  width: 18px;
  height: 24px;
}
main .content-card .content-icons .material-symbols-outlined[data-unstared] {
  opacity: 0.4;
}

@media only screen and (width < 896px) {
  .menu > li {
    display: none;
  }
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .content-card {
    max-width: 571px;
  }
  .company > img {
    width: 150px;
  }
}
@media only screen and (width > 896px) {
  #m-icon {
    display: none;
  }
  .drop-down {
    /* display: none; */
    visibility: hidden;
  }
  .content-card {
    max-width: 476px;
    height: 246px;
  }
}
@media only screen and (width < 1015px) {
  .content-card {
    max-width: 571px;
  }
}/*# sourceMappingURL=style.css.map */