form{
    display: grid;
    align-items: center;
    justify-content: center;
    background: aqua;
    font-family: QuickSand;
    width:max-content;
    margin: auto;
    margin-top: 30%;
    height: max-content;
    padding: 20px;
    input{
        padding: 20px;
        display: grid;
        align-items: center;
    }
}