
.table{
    position: relative;
    #myCanvas{
  
        background-color: rgb(202, 187, 187);
    }
    input{
        position: absolute;
        display: none;
        border: none;
        // width: 92px;
        // height: 25px;
    }
}

