@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");


  body {
    font-family: Quicksand;
    margin: 0px;
    min-height: 100dvh;
    background: #eeeeee;
    display: flex;
    flex-direction: column;
  }
  /* header */
  .header {
    background: url('assets/header\ pattern\ image.png') rgba(37, 49, 63,1);
    background-size: auto 100%;
    background-blend-mode: overlay;
    border: 2px solid #31b9e4;
    border-top: none;
    border-right: none;
    border-left: none;
  }
  .header > img {
    margin-top: 10px;
    height: 40px;
    padding: 1em 1em;
  }
  /* footer */
  .footer {
    text-align: center;
    margin-block-start: 1em;
    color: #1f7a54;
    font-weight: 500;
    margin-top: auto;
  }
  .footer > div:first-child>span{
    margin-inline: 1em;
    color: #616161;
    opacity: 0.31;
  }
  .footer > div:nth-child(2) {
    background: #e0e1e1;
    color: #616161;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    font-size: 12px;
    margin-top: 1em;
    padding: 1em;
  }
 .footer > div:nth-child(2) span {
    font-size: 24px;
    font-weight: 200;
    opacity: 0.4;
  }
  
  .footer > img {
    width: 140px;
  }
  .footer > i {
    font-weight: 700;
    font-style: normal;
  }
  /* form */
  main {
    display: grid;
    place-items: center;
  }
  form {
    background-color: white;
    border: 4px solid #3ac7ec;
    border-radius: 2px;
    border-bottom: none;
    border-left: none;
    border-right: none;
    margin: 1em;
    display: grid;
    padding: 2em;
    font-weight: 500;
    font-size: 16px;
    gap: 2.5em;
    width: min(calc(100% - 6em), 488px);
  }
  form input[type="text"],form select{
    color: #222;
    background-color: white;
  }

 form input[type="password"] {
    color: #222;
    grid-column: 1/1;
    grid-row: 1/1;
    background-color: white;
  }
  
  form label{
    color: #666;
  }
  
  form .form-title {
    font-weight: bold;
    font-size: 24px;
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 5fr 1fr;
    text-align: center;
  }
  .form-title a {
    text-decoration: none;
    color: #1f7a54;
    font-size: 14px;
    place-self: center start;
    display: grid;
  }
  form label a {
    place-self: flex-end;
    color: #1f7a54;
    text-decoration: none;
    font-size: 14px;
  }
  form > label:not(.radio, .remember-me) {
    display: grid;
    gap: 0.5em;
  }
  .school {
    display: flex;
    gap: 2em;
    align-items: center;
    color: #333;
  }
  .school label,.remember-me {
    display: flex;
    align-items: center;
    color: #222;
  }
  .school label input,
  .remember-me input {
    margin-inline-end: 12px;
    margin-top: 0px;
  }
  form input[type="radio"],
  form input[type="checkbox"] {
    accent-color: #1f7a54;
    border:2px solid #1F7A54;
    width:20px;
    height: 20px;
  }
  .state,
  .district {
    font-size: 12px;
  }
  select,
  input {
    font-size: 16px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-top: none;
    border-left: none;
    border-right: none;
    font-weight: 500;
    font-family: Quicksand;
    accent-color: #1f7a54;
  }
  
  form input[type="submit"] {
    background-color: #3fd28b;
    box-shadow: 0px 3px 5px #0000003d;
    width: 216px;
    height: 40px;
    font-size: 14px;
    color: #1f2834;
    place-self: center;
    border: none;
  }
  
  .material-symbols-outlined {
    font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 24;
    color: #1f7a54;
    grid-column: 1/1;
    grid-row: 1/1;
    place-self: flex-end;
  }
  
  .username{
      margin-top: 1em;
  }

  
  .school input[type="radio"]{
    appearance: none;
    border: none;
    position:relative;
    flex: 0 0 25px;
    background-image: url("icons/icons/radio-button-off.svg");
    background-repeat: no-repeat;
    background-position: -2px -2px;
  }
  .school :nth-child(2){
    display: flex;
    flex: 1;
  }
  .school input[type="radio"]:checked{
    background-image: url("icons/icons/radio-button-on.svg");
  }
  .remember-me input[type="checkbox"]{
    appearance: none;
    border: none;
    background-image: url("icons/icons/checkbox-unchecked.svg"); 
    background-position: -1px;
    background-repeat: no-repeat;
  }
  .remember-me input[type="checkbox"]:checked{
    background-image: url("icons/icons/checkbox-checked.svg"); 
  }
  /* SELECT  arrow */
  form select{
    appearance: none;
    background-image: url("assets/icons/arrow-down.svg");
    background-repeat: no-repeat;
    background-position: 100%;
  }