.table{
    position: relative;
    top: 50px;
    padding: 10px;
}
#myCanvas{
    background-color: rgb(243, 238, 238);
}
#headers{
    background-color: rgb(243, 238, 238);
    margin-bottom: -4px;
}
input{
    position: absolute;
    display: none;
    border: none;
}
.FileUpload{
    display: grid;
    padding: 10px;
}
#file{
    padding-top: 20px;
    display: grid;
    border: 1px solid black;
}