@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url("https://db.onlinewebfonts.com/c/16697a764b01cdcc691b05f001046bc3?family=MuseoSans-500");

body{
    margin: 0;
    display: flex;
    flex-direction: column;
    background: #EEEEEE;
    min-height: 100vh;
    align-content: start;
    font-family: Quicksand;
}
.main{
    background: #EEEEEE;
}
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}
select{
    font: 16px/20px Quicksand;
    font-weight: 500;
    color: #222222;
    appearance: none;
    background-image: url(icons/icons/arrow-down.svg);
    background-repeat:no-repeat;
    background-position:100% ;
}

/* footer */
.footer{
    /* position: absolute; */
    display: grid;
    bottom: 0px;
    margin-top: auto;
    width: 100%;
    text-align: center;
    
}
.logo{
    background: #E0E1E1;
    padding:10px;
}
.footer >div> img {
    height: 40px;
}
.footer >div>span{
    position: relative;
    bottom: 12px;
}
.about{
    position: relative;
    bottom: 10px;
    color: #1F7A54;
}

/* header */
.header{
    position: sticky;
    top: 0px;
    padding-inline: 28px;
    z-index: 1;
    display: flex;
    background: #25313F url('./header\ pattern\ image.png') 0% 0% no-repeat padding-box;
    background-blend-mode: overlay;
    background-size: 100% 100%;
    height: 80px;
    border-top:none;
    border-left: none;
    border-right: none;
    width: auto;
}
.company {
    margin-right: auto;
}
.company>img{
    height: 40px;
    margin-top: 20px;
}
.icons > .material-symbols-outlined{
    width: 40px;
    height: 50px;
    margin-top: 10px;
    color: #3FD28B;
}
.icons{
    display: flex;
    align-items: end;
    justify-self: flex-end;
    gap: 15px;
    justify-content: end;
}
.icons > span{
    position: relative;
}
.icons > img{
    width: 30px;
    height: 30px;
    margin-bottom: 25px;
    margin-right: 10px;
    background-color: #333;
}
.menu{
    display: flex;
    padding: 0px;
    gap: 15px;
}
#m-icon{
    margin-top: 30px;
    color: #3FD28B;

}
li{
    margin: 16px;
    height: 18px;
    position: relative;
    justify-content: space-between;
    color: #3FD28B;
    list-style-type: none;
    font-style: Quicksand;
}
.icons > span::before{
    position: absolute;
    height: 10px;
    width: 10px;
    inline-size: block;
    content: "2";
    padding: 5px;
    font-size: small;
    background: #2A7FF3;
    border-radius: 50%;
    bottom: 40px;
    left: 10px;
    text-align: center;
    font-family: Quicksand;
}
.menu li[data-current]{
    color: white;
}
.menu li[data-current]::before{
    background-color: white;
    display: block;
    position: absolute;
    width: 100%;
    height: 4px;
    content: "";
    bottom: calc(0px - 1.9em);
}

/* menu-list */
.drop-down{
    position: fixed;
    z-index: 100;
    top: 60px;
    right: 0px;
    background: #333;
}
.menu-list li[data-current] {
    color: white;
}
.menu-list li[data-current]::before{
    background-color: white;
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    content: "";
    bottom: calc(0px - 0.4em);
}
.drop-down[data-state='closed']{
    display:none;
}
.drop-down[data-state='open']{
    display:block;
}

/* courses div */
.course-classes{
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    background: #8DDC97;
    margin: 20px;
    height: 64px;
    text-align: center;
    place-content: center;
}
.course{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.course-classes > .course[data-current]::before{
    background: #222222;
    display: block;
    position: absolute;
    width: 100%;
    height: 4px;
    content: "";
    bottom: -18px;
}
.text{
    font-weight: bold;
    font-size: 20px;
    padding-inline: 10px;
}
#text{
    font-size: 20px;
}

.show {
    display: grid;
    margin: 20px;
    height: 40px;
    grid-template-columns: 1fr 1fr;
    border-bottom: 2px solid rgba(0, 0, 0, 0.12);
}
.show > span{
    color: #686868;
    margin-top: 10px;
    font: 12px/14px Quicksand;
    font-weight: 500;
}
.select{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: -30px;
}
.select > label{
    font: 12px / 20px Quicksand;
}
.select > select{
    border-top: none;
    border-left: none;
    border-right: none;
    width: 180px;
    background-color: #EEEEEE;
}
.select > .material-symbols-outlined {
    display: grid;
    color: green;
    font-weight: x-large;
    margin-bottom: 5px;
}

/* card */
h3{
    margin-bottom: -5px;
    margin-top: 10px;
    font:16px/20px Quicksand;
    font-weight: 600;
    display: flex;
    justify-content: flex-end;
    width: fit-content;
    left: 50px;
    margin-bottom: -2px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.content-card{
    margin: auto;
    background: white;
    max-width: 476px;
    display: grid;
    justify-content: center;
    place-items: center;
    position: relative;
    /* padding: 10px; */
    margin-bottom: 30px;
   
}
.card{ 
    background: white;
    display: grid;
    grid-template-columns: 1fr 4fr;
    margin: 5px;
    
    border-bottom:2px solid rgba(0, 0, 0, 0.12) ;
}
/* .card > select{
    font: Quicksand;
    font-weight: 500;
    color: #222222;
} */
.info{
    margin-bottom: 5px;
    font-family: Quicksand;
}
.info > .info-no {
    color: #222222;
    font: Quicksand;
    font-weight: bold;
    font-weight: bold;
}
.info > span {
    font:12px/16px Quicksand;
    font-weight: 500;
}
.info > span > span{
    color: #1F7A54;
}
.content{
    margin-right: 20px;
    /* height: 200px; */
}
.content > .card-content-head{
    display: grid;
    margin-bottom: 5px;
    grid-template-columns: 9fr 1fr;
}
.card > .image > img{
    margin: 10px;
    display: grid;
    width: 132px;
    height: 157px;
}
.card-content-head > h3 {
    /* font:16px/20px Quicksand;
    font-weight: 600;
    display: flex;
    justify-content: flex-end;
    width: fit-content;
    left: 50px;
    margin-bottom: -2px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden; */
}
.card-content-head > span{
    margin: 10px;
}
.content > select{
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    margin-top: 10px;
    /* appearance: none;
    background-image: url(icons/icons/arrow-down.svg);
    background-repeat:no-repeat;
    background-position:100% ; */
    margin-bottom: 10px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.12);
    width: 100%;
}
.content-icons{
    display: flex;
    justify-content: space-around;
    margin: 10px 20px 10px 20px;
    width: 100%;
}
/* .content-icons > span{
    color: #1F7A54;
    opacity: 1;
} */
.content-icons > .material-symbols-outlined{
    display: flex;
    color: #1F7A54;
    width: 18px;
    height: 24px;
}
.content > span{
    display: grid;
    margin-bottom: 10px;
    font-size: 12px;
    color: #666666;
}
.main-card{
    display: grid;
    margin-left: 10px;
    margin-right: 10px;
    /* row-gap: 2em; */
    grid-template-columns: repeat(auto-fill,minmax(496px,1fr));
}
.card-content-head > .material-symbols-outlined{
    color: #EEEEEE;
}
.card-content-head[data-starred] .material-symbols-outlined{
    color: #EDC900;
}
.content-icons .material-symbols-outlined[data-unstared]{
    opacity: 0.4;
}
.content-card[data-expired]::before{
    content: "EXPIRED";
    color: #D80000;
    background-color: #FFE4E6;
    position: absolute;
    top:  0px;
    left: 0px;
    font-size: 10px;
    font-family: "MuseoSans-500";
    font-weight: 500;
    padding: 4px;
    border-radius: 2px;
  }


@media only screen and (width<=892px){
    .drop-down{
        display: none;
    }
    .menu > li {
        display: none;
    }
    .main-card{
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
    }
    /* .select{
        display: flex;
        flex-direction: column;
    } */
    .company > img{
        width: 150px;
    }
}
@media only screen and (width>892px){
    #m-icon{
        display: none;
    }
    .drop-down{
        /* display: none; */
        visibility: hidden;
    }
    /* .content-card{
        height: 250px;   
    } */
    /*  */
}